*{
    box-sizing: border-box;
}

body{
    background-color: #1abc9c;
    height: 100vh;
    color: #fff;
    margin: 0px;
    text-align: center;
}

h2{
    font-family: 'Sigmar', cursive;
    font-size: 24px;
    margin-bottom: 8px;
}

span{
    color: #fff;
    font-size: 70px;
    font-family: 'Slackey', cursive;
}

h5{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2em;
    display: block;
    padding: 24px 0px;
    background-color: #ffffff;
    color: #43ccb0;
    border-radius: 9em;
    border: 8px dashed #a0ffec;
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
